body {
  position: absolute;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: rgb(35, 36, 13);

  background-color: #c7b39b;
  background: url(../public/bg.jpg) no-repeat;
  /*background-size: cover;*/
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.v-align {
  display: inline-block;
  float: none;
  vertical-align: middle;
}

.h-align {
  display: block;
  float: none;
  width: fit-content;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

.text-h-align {
  text-align: center;
}

.space-between {
  display: flex;
  float: none;
  width: 100%;
  justify-content: space-around;
}

.footer {
  position: fixed;
  bottom: 0;
  margin-right: 80%;
  width: 30%;
  height: 30%;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: auto;
}

.bottom-left {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 10%;
  margin-top: 0%;
  margin-left: 10%;
  margin-bottom: 2%;
  text-align: left;
}

.chat {
  position: relative;
  right: 0;
  bottom: 0;
  height: fit-content;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
