body {
  position: absolute;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: rgb(35, 36, 13);

  background-color: #c7b39b;
  background: url(../public/bg.jpg) no-repeat;
  /*background-size: cover;*/
  width: 100%;
  height: 100%;
  overflow: hidden; /* scrollbar disabling */
}

.footer {
  position: absolute;
  bottom: 0;
  margin-left: 60%;
  width: 40%;
  height: 30%;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: scroll;
}

.bottom-right {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 10%;
  margin-top: 0%;
  margin-right: 10%;
  margin-bottom: 2%;
  text-align: right;
}

.chat {
  position: relative;
  right: 0;
  bottom: 0;
  height: fit-content;
  width: fit-content;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
